<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <style>
      #errors {
        display: none;
        /* background-color: rgba(83, 83, 83, 0.3);
        color: #fff; */
        padding: 10px;
        margin: 10px 0px;
        border-radius: 13px;
      }
  </style>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
          <a id="title" class="navbar-brand" href="#">
            <h1><%= title %></h1>          
          </a>
      </div>        
    </nav>

    <main>
      <div class="container-fluid">
        <form action="/alterar-product" method="POST" id="form">
          <div class="form-inline">
              <div class="form-group">
                  <input type="text" name="id" id="id" class="form-control" placeholder="ID" value="<%= products.id %>" readonly>
              </div>
              <div class="form-group">
                  <input type="text" name="desc" id="desc" class="form-control" placeholder="Description" value="<%= products.description %>">
              </div>
              <div class="form-group">
                  <input type="text" name="amount" id="amount" class="form-control" placeholder="Amount" value="<%= products.amount %>">
              </div>
              <div class="form-group">
                  <input type="text" name="price" id="price" class="form-control" placeholder="Price" value="<%= products.price %>">
              </div>
              <button class="btn btn-default" id="btnAdd">Save</button>
          </div>
        </form>
          
        <div id="errors" class="alert alert-danger">
        </div>       
      </div>        
    </main>
    
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
